// Alert Component Styles
// ======================

@use '../index' as *;

.ui-alert {
  // Base alert styles
  position: relative;
  width: 100%;
  border-radius: $radius-lg;
  border: 1px solid hsl(var(--border));
  padding: $spacing-4;

  // Icon positioning (when SVG is present)
  &:has(> svg) {
    > svg {
      position: absolute;
      left: $spacing-4;
      top: $spacing-4;
      color: hsl(var(--foreground));
      
      ~ * {
        padding-left: 1.75rem; // pl-7
      }

      + div {
        transform: translateY(-3px);
      }
    }
  }

  // Variant styles
  &--default {
    background-color: hsl(var(--background));
    color: hsl(var(--foreground));
  }

  &--destructive {
    border-color: hsl(var(--destructive) / 0.5);
    color: hsl(var(--destructive));

    > svg {
      color: hsl(var(--destructive));
    }

    .dark & {
      border-color: hsl(var(--destructive));
    }
  }
}

// Alert title
.ui-alert__title {
  margin-bottom: $spacing-1;
  font-weight: $font-weight-medium;
  line-height: $line-height-none;
  letter-spacing: -0.025em;
}

// Alert description
.ui-alert__description {
  font-size: $font-size-sm;

  p {
    line-height: $line-height-relaxed;
  }
}
