// Label Component Styles
// ======================

@use '../index' as *;

.ui-label {
  // Base label styles
  font-size: $font-size-sm;
  font-weight: $font-weight-semibold;
  color: hsl(215.4 16.3% 46.9%);
  line-height: $line-height-none;

  // Disabled state (when associated input/field is disabled)
  &:has(~ :disabled),
  &.peer-disabled {
    cursor: not-allowed;
    opacity: 0.7;
  }
}
