// Progress Component Styles
// =========================

@use '../index' as *;

.ui-progress {
  position: relative;
  height: 1rem; // h-4
  width: 100%;
  overflow: hidden;
  border-radius: $radius-full;
  background-color: hsl(var(--secondary));
}

.ui-progress__indicator {
  height: 100%;
  width: 100%;
  flex: 1 1 0%;
  background-color: hsl(var(--primary));
  transition: all 200ms cubic-bezier(0.4, 0, 0.2, 1);
}
